<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_938ca74e23c349ffbfcaf6071b3e8ded {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_938ca74e23c349ffbfcaf6071b3e8ded" ></div>
        
</body>
<script>
    
    
            var map_938ca74e23c349ffbfcaf6071b3e8ded = L.map(
                "map_938ca74e23c349ffbfcaf6071b3e8ded",
                {
                    center: [40.0, -98.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3267453bcb8b0481b8b555641a2f9e55 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
            var marker_d9694591aca47305575b00dca89db3b2 = L.marker(
                [33.45535, -83.2414],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
            var icon_28e0cc28c0e465397176602ad3f602f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "asterisk", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d9694591aca47305575b00dca89db3b2.setIcon(icon_28e0cc28c0e465397176602ad3f602f6);
        
    
        var popup_954603a788a690ef81ec26d035054325 = L.popup({"maxWidth": 300});

        
            
                var html_4c201af2bfbe4b68a80b7bd125140cc6 = $(`<div id="html_4c201af2bfbe4b68a80b7bd125140cc6" style="width: 100.0%; height: 100.0%;">Greensboro, GA - Jerry King (2022), Stuart King (2021)</div>`)[0];
                popup_954603a788a690ef81ec26d035054325.setContent(html_4c201af2bfbe4b68a80b7bd125140cc6);
            
        

        marker_d9694591aca47305575b00dca89db3b2.bindPopup(popup_954603a788a690ef81ec26d035054325)
        ;

        
    
    
            var marker_c3638cb5a631db2377761b0e9dda99b9 = L.marker(
                [28.554899, -82.387863],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_f84dc38f3207dbd515f4cb5666cbe69b = L.popup({"maxWidth": 300});

        
            
                var html_f24f5f6623f7400601abad963168b4f6 = $(`<div id="html_f24f5f6623f7400601abad963168b4f6" style="width: 100.0%; height: 100.0%;">2020 - Brooksville, FL - Josh Duckett</div>`)[0];
                popup_f84dc38f3207dbd515f4cb5666cbe69b.setContent(html_f24f5f6623f7400601abad963168b4f6);
            
        

        marker_c3638cb5a631db2377761b0e9dda99b9.bindPopup(popup_f84dc38f3207dbd515f4cb5666cbe69b)
        ;

        
    
    
            var marker_a230f83bd4ae29e80471ec185d9a4b08 = L.marker(
                [33.494171, -111.926048],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_51643784df7cc6a9eba2454f6d0fb8d2 = L.popup({"maxWidth": 300});

        
            
                var html_4091fbe048c90508dd9d0f3c230984b0 = $(`<div id="html_4091fbe048c90508dd9d0f3c230984b0" style="width: 100.0%; height: 100.0%;">2018 & 2019 - Scottsdale, AZ - Alex King</div>`)[0];
                popup_51643784df7cc6a9eba2454f6d0fb8d2.setContent(html_4091fbe048c90508dd9d0f3c230984b0);
            
        

        marker_a230f83bd4ae29e80471ec185d9a4b08.bindPopup(popup_51643784df7cc6a9eba2454f6d0fb8d2)
        ;

        
    
    
            var marker_4aecf5aecc1dd9da6a9c097466de45e3 = L.marker(
                [36.805531, -114.06719],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_53dbce49670e1aaa3de43a31435fe8a5 = L.popup({"maxWidth": 300});

        
            
                var html_8b6b6618382fdb0567ade931fe0bff0a = $(`<div id="html_8b6b6618382fdb0567ade931fe0bff0a" style="width: 100.0%; height: 100.0%;">2017 - Mesquite, NV - Alex King</div>`)[0];
                popup_53dbce49670e1aaa3de43a31435fe8a5.setContent(html_8b6b6618382fdb0567ade931fe0bff0a);
            
        

        marker_4aecf5aecc1dd9da6a9c097466de45e3.bindPopup(popup_53dbce49670e1aaa3de43a31435fe8a5)
        ;

        
    
    
            var marker_a66614b2645c4ce242f912f2dbae88e7 = L.marker(
                [41.878114, -87.629798],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_6bed72ab735f16940e5f7e89c753a079 = L.popup({"maxWidth": 300});

        
            
                var html_e505abdedbd36e0f9cc9e1f4d564b815 = $(`<div id="html_e505abdedbd36e0f9cc9e1f4d564b815" style="width: 100.0%; height: 100.0%;">2016 - Chicago, IL - Jerry King</div>`)[0];
                popup_6bed72ab735f16940e5f7e89c753a079.setContent(html_e505abdedbd36e0f9cc9e1f4d564b815);
            
        

        marker_a66614b2645c4ce242f912f2dbae88e7.bindPopup(popup_6bed72ab735f16940e5f7e89c753a079)
        ;

        
    
    
            var marker_ee17f453d5f9193a7585b73d61110aaf = L.marker(
                [34.502587, -84.951054],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_d2ba794296233897d2a424671831724d = L.popup({"maxWidth": 300});

        
            
                var html_6709f202b95154735375aa50d6d09c6f = $(`<div id="html_6709f202b95154735375aa50d6d09c6f" style="width: 100.0%; height: 100.0%;">2015 - Calhoun, GA - Stuart King</div>`)[0];
                popup_d2ba794296233897d2a424671831724d.setContent(html_6709f202b95154735375aa50d6d09c6f);
            
        

        marker_ee17f453d5f9193a7585b73d61110aaf.bindPopup(popup_d2ba794296233897d2a424671831724d)
        ;

        
    
    
            var marker_98e8df41a21eb0d108109bdc1eaa5e5a = L.marker(
                [42.331427, -83.045754],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_844cb481186428ac283b338b84b06dbf = L.popup({"maxWidth": 300});

        
            
                var html_978158ee53e886b0474183e4df9fd2c8 = $(`<div id="html_978158ee53e886b0474183e4df9fd2c8" style="width: 100.0%; height: 100.0%;">2014 - Detroit, MI - Reggie Sherrill</div>`)[0];
                popup_844cb481186428ac283b338b84b06dbf.setContent(html_978158ee53e886b0474183e4df9fd2c8);
            
        

        marker_98e8df41a21eb0d108109bdc1eaa5e5a.bindPopup(popup_844cb481186428ac283b338b84b06dbf)
        ;

        
    
    
            var marker_4b89ec869d39878f5fd37c4266cc1d5b = L.marker(
                [39.739236, -104.990251],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_c7231012d3605302448c4fcda74e48c6 = L.popup({"maxWidth": 300});

        
            
                var html_9f3ea02c4320d4fe86ca35051250abcb = $(`<div id="html_9f3ea02c4320d4fe86ca35051250abcb" style="width: 100.0%; height: 100.0%;">2013 - Denver, CO - Stuart King</div>`)[0];
                popup_c7231012d3605302448c4fcda74e48c6.setContent(html_9f3ea02c4320d4fe86ca35051250abcb);
            
        

        marker_4b89ec869d39878f5fd37c4266cc1d5b.bindPopup(popup_c7231012d3605302448c4fcda74e48c6)
        ;

        
    
    
            var marker_af6a5bafe6b4ab93fd70890052a7c0e7 = L.marker(
                [47.677683, -116.780466],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_738f0997298b0c3050c6cbadf192cf98 = L.popup({"maxWidth": 300});

        
            
                var html_9235a576fa7f9074d38bc668a4b344c6 = $(`<div id="html_9235a576fa7f9074d38bc668a4b344c6" style="width: 100.0%; height: 100.0%;">2012 - Coeur d'Alene, ID - Jerry King</div>`)[0];
                popup_738f0997298b0c3050c6cbadf192cf98.setContent(html_9235a576fa7f9074d38bc668a4b344c6);
            
        

        marker_af6a5bafe6b4ab93fd70890052a7c0e7.bindPopup(popup_738f0997298b0c3050c6cbadf192cf98)
        ;

        
    
    
            var marker_905c2ec34fe9be7c187fb614bf0cadce = L.marker(
                [37.096528, -113.568416],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_29d6a345b0c6cfc69202cd2b9be8b0a7 = L.popup({"maxWidth": 300});

        
            
                var html_9685dc6c8f6337238b3a15391e05f4bf = $(`<div id="html_9685dc6c8f6337238b3a15391e05f4bf" style="width: 100.0%; height: 100.0%;">2011 - St. George, UT - Reggie Sherrill</div>`)[0];
                popup_29d6a345b0c6cfc69202cd2b9be8b0a7.setContent(html_9685dc6c8f6337238b3a15391e05f4bf);
            
        

        marker_905c2ec34fe9be7c187fb614bf0cadce.bindPopup(popup_29d6a345b0c6cfc69202cd2b9be8b0a7)
        ;

        
    
    
            var marker_df2ab394a7c72f6723a05975f168cfa8 = L.marker(
                [38.291859, -122.458036],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_baf5f098379e4d252b57f7ca58f6d778 = L.popup({"maxWidth": 300});

        
            
                var html_4b1b57eae949f155bbf58af8099da9a5 = $(`<div id="html_4b1b57eae949f155bbf58af8099da9a5" style="width: 100.0%; height: 100.0%;">2010 - Northern California - Alex King</div>`)[0];
                popup_baf5f098379e4d252b57f7ca58f6d778.setContent(html_4b1b57eae949f155bbf58af8099da9a5);
            
        

        marker_df2ab394a7c72f6723a05975f168cfa8.bindPopup(popup_baf5f098379e4d252b57f7ca58f6d778)
        ;

        
    
    
            var marker_04cef7dd3d15ca1699c8b86d07b15490 = L.marker(
                [39.237685, -120.02658],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_0dc3a5d8b1273da56ebceaa4be1a3585 = L.popup({"maxWidth": 300});

        
            
                var html_6014bd954f765d5d4f40841c858af8ee = $(`<div id="html_6014bd954f765d5d4f40841c858af8ee" style="width: 100.0%; height: 100.0%;">2009 - Lake Tahoe, CA - Alex King</div>`)[0];
                popup_0dc3a5d8b1273da56ebceaa4be1a3585.setContent(html_6014bd954f765d5d4f40841c858af8ee);
            
        

        marker_04cef7dd3d15ca1699c8b86d07b15490.bindPopup(popup_0dc3a5d8b1273da56ebceaa4be1a3585)
        ;

        
    
    
            var marker_ab2ed1aa6a4ce8cf41fa2878acb53dc0 = L.marker(
                [47.606209, -122.332071],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_4a19b5d9b81b545d68a82489d0c51add = L.popup({"maxWidth": 300});

        
            
                var html_449b21204988e9a5bd716fbdd4e4a5b7 = $(`<div id="html_449b21204988e9a5bd716fbdd4e4a5b7" style="width: 100.0%; height: 100.0%;">2008 - Seattle, WA - Alex King</div>`)[0];
                popup_4a19b5d9b81b545d68a82489d0c51add.setContent(html_449b21204988e9a5bd716fbdd4e4a5b7);
            
        

        marker_ab2ed1aa6a4ce8cf41fa2878acb53dc0.bindPopup(popup_4a19b5d9b81b545d68a82489d0c51add)
        ;

        
    
    
            var marker_6918e8c05644c745b25ed22d92f524af = L.marker(
                [35.960638, -83.920739],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_1e2fe8dc6ed04171e3deb86a7c4d7050 = L.popup({"maxWidth": 300});

        
            
                var html_d2b22c06bb793b2a82773f1556713051 = $(`<div id="html_d2b22c06bb793b2a82773f1556713051" style="width: 100.0%; height: 100.0%;">2007 - Knoxville, TN - Stuart King</div>`)[0];
                popup_1e2fe8dc6ed04171e3deb86a7c4d7050.setContent(html_d2b22c06bb793b2a82773f1556713051);
            
        

        marker_6918e8c05644c745b25ed22d92f524af.bindPopup(popup_1e2fe8dc6ed04171e3deb86a7c4d7050)
        ;

        
    
    
            var marker_91965751f639a1f577e66b1b274025a8 = L.marker(
                [33.520661, -86.80249],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_d9832b9aa902f244bd0f801fcd4c8127 = L.popup({"maxWidth": 300});

        
            
                var html_b81913614297ecc9d482c706b8deda8d = $(`<div id="html_b81913614297ecc9d482c706b8deda8d" style="width: 100.0%; height: 100.0%;">2006 - RTJ, Alabama - Gary Olson</div>`)[0];
                popup_d9832b9aa902f244bd0f801fcd4c8127.setContent(html_b81913614297ecc9d482c706b8deda8d);
            
        

        marker_91965751f639a1f577e66b1b274025a8.bindPopup(popup_d9832b9aa902f244bd0f801fcd4c8127)
        ;

        
    
    
            var marker_8b189cb2b416e1ac81a2bb7ade671b9a = L.marker(
                [32.366805, -86.299969],
                {}
            ).addTo(map_938ca74e23c349ffbfcaf6071b3e8ded);
        
    
        var popup_7a361cb10cf21191bfa1e01b760e764e = L.popup({"maxWidth": 300});

        
            
                var html_8c6377eca510aa62eab1ae548c3f810e = $(`<div id="html_8c6377eca510aa62eab1ae548c3f810e" style="width: 100.0%; height: 100.0%;">2005 - RTJ, Alabama - Stuart King</div>`)[0];
                popup_7a361cb10cf21191bfa1e01b760e764e.setContent(html_8c6377eca510aa62eab1ae548c3f810e);
            
        

        marker_8b189cb2b416e1ac81a2bb7ade671b9a.bindPopup(popup_7a361cb10cf21191bfa1e01b760e764e)
        ;

        
    
</script>
</html>