<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6486274de38597f5d889b13e88f08a4b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6486274de38597f5d889b13e88f08a4b" ></div>
        
</body>
<script>
    
    
            var map_6486274de38597f5d889b13e88f08a4b = L.map(
                "map_6486274de38597f5d889b13e88f08a4b",
                {
                    center: [40.0, -98.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_21f984585c033f93cc4c2264ff65e85d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
            var marker_a28e4735e70d05adf612926b310b1647 = L.marker(
                [35.174046, -79.392258],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
            var icon_e0c9f3747fb18158455fd442ff9e5250 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "asterisk", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a28e4735e70d05adf612926b310b1647.setIcon(icon_e0c9f3747fb18158455fd442ff9e5250);
        
    
        var popup_52a43f164c809a9b756c608dc1d4a667 = L.popup({"maxWidth": 300});

        
            
                var html_08915f2bc87fd9dfdf1b796431b2078a = $(`<div id="html_08915f2bc87fd9dfdf1b796431b2078a" style="width: 100.0%; height: 100.0%;">2023 - Southern Pines, NC</div>`)[0];
                popup_52a43f164c809a9b756c608dc1d4a667.setContent(html_08915f2bc87fd9dfdf1b796431b2078a);
            
        

        marker_a28e4735e70d05adf612926b310b1647.bindPopup(popup_52a43f164c809a9b756c608dc1d4a667)
        ;

        
    
    
            var marker_8a3a7c92bf2c5aba907911a909e0eb9e = L.marker(
                [33.45535, -83.2414],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_41069b4c6d4062c235a9619fdcc7a123 = L.popup({"maxWidth": 400});

        
            
                var html_3b16154ae5612dc222f8bb0ff9a87ae6 = $(`<div id="html_3b16154ae5612dc222f8bb0ff9a87ae6" style="width: 100.0%; height: 100.0%;">2021 & 2022 - Greensboro, GA - Stuart King, Jerry King</div>`)[0];
                popup_41069b4c6d4062c235a9619fdcc7a123.setContent(html_3b16154ae5612dc222f8bb0ff9a87ae6);
            
        

        marker_8a3a7c92bf2c5aba907911a909e0eb9e.bindPopup(popup_41069b4c6d4062c235a9619fdcc7a123)
        ;

        
    
    
            var marker_9c572bb02058dfbd652ab2bb0f2d24b8 = L.marker(
                [28.554899, -82.387863],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_7293c67d8ca69d001f9b10f2965c03b9 = L.popup({"maxWidth": 300});

        
            
                var html_6c35914c645dbdca505242bbee64e712 = $(`<div id="html_6c35914c645dbdca505242bbee64e712" style="width: 100.0%; height: 100.0%;">2020 - Brooksville, FL - Josh Duckett</div>`)[0];
                popup_7293c67d8ca69d001f9b10f2965c03b9.setContent(html_6c35914c645dbdca505242bbee64e712);
            
        

        marker_9c572bb02058dfbd652ab2bb0f2d24b8.bindPopup(popup_7293c67d8ca69d001f9b10f2965c03b9)
        ;

        
    
    
            var marker_35a4914495d168be6dc06be690aaedb9 = L.marker(
                [33.494171, -111.926048],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_17704134ea0f40e8d9c090b11f90a2ef = L.popup({"maxWidth": 300});

        
            
                var html_97422763ae9541e3a5c76b4c610bc356 = $(`<div id="html_97422763ae9541e3a5c76b4c610bc356" style="width: 100.0%; height: 100.0%;">2018 & 2019 - Scottsdale, AZ - Alex King</div>`)[0];
                popup_17704134ea0f40e8d9c090b11f90a2ef.setContent(html_97422763ae9541e3a5c76b4c610bc356);
            
        

        marker_35a4914495d168be6dc06be690aaedb9.bindPopup(popup_17704134ea0f40e8d9c090b11f90a2ef)
        ;

        
    
    
            var marker_2e4ba8c6bddd4b676ac202453a2ae427 = L.marker(
                [36.805531, -114.06719],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_f0b26b4db2eef8afc48caf2676c8386d = L.popup({"maxWidth": 300});

        
            
                var html_8fa28a83268d6efd3e772a2166e4cadd = $(`<div id="html_8fa28a83268d6efd3e772a2166e4cadd" style="width: 100.0%; height: 100.0%;">2017 - Mesquite, NV - Alex King</div>`)[0];
                popup_f0b26b4db2eef8afc48caf2676c8386d.setContent(html_8fa28a83268d6efd3e772a2166e4cadd);
            
        

        marker_2e4ba8c6bddd4b676ac202453a2ae427.bindPopup(popup_f0b26b4db2eef8afc48caf2676c8386d)
        ;

        
    
    
            var marker_f3dfa0eedd13d8ba2c34eef737fa1fd9 = L.marker(
                [41.878114, -87.629798],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_8cc9a3b08d81e374774796aae6133c79 = L.popup({"maxWidth": 300});

        
            
                var html_3a57b143ccf21fca7097e017b70243d2 = $(`<div id="html_3a57b143ccf21fca7097e017b70243d2" style="width: 100.0%; height: 100.0%;">2016 - Chicago, IL - Jerry King</div>`)[0];
                popup_8cc9a3b08d81e374774796aae6133c79.setContent(html_3a57b143ccf21fca7097e017b70243d2);
            
        

        marker_f3dfa0eedd13d8ba2c34eef737fa1fd9.bindPopup(popup_8cc9a3b08d81e374774796aae6133c79)
        ;

        
    
    
            var marker_04ca41d3917193bbb46d9d8f315bd1b3 = L.marker(
                [34.502587, -84.951054],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_b3d2c4fb44ca84724e2f79d01a035215 = L.popup({"maxWidth": 300});

        
            
                var html_0050df337d9e5bc1d1cde1d0e328871a = $(`<div id="html_0050df337d9e5bc1d1cde1d0e328871a" style="width: 100.0%; height: 100.0%;">2015 - Calhoun, GA - Stuart King</div>`)[0];
                popup_b3d2c4fb44ca84724e2f79d01a035215.setContent(html_0050df337d9e5bc1d1cde1d0e328871a);
            
        

        marker_04ca41d3917193bbb46d9d8f315bd1b3.bindPopup(popup_b3d2c4fb44ca84724e2f79d01a035215)
        ;

        
    
    
            var marker_1a69446e7bc4112c154cacac75414b22 = L.marker(
                [42.331427, -83.045754],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_866686123c80546503f565f6c8a155dd = L.popup({"maxWidth": 300});

        
            
                var html_7606152718734a8c95d7971f2ac2a4db = $(`<div id="html_7606152718734a8c95d7971f2ac2a4db" style="width: 100.0%; height: 100.0%;">2014 - Detroit, MI - Reggie Sherrill</div>`)[0];
                popup_866686123c80546503f565f6c8a155dd.setContent(html_7606152718734a8c95d7971f2ac2a4db);
            
        

        marker_1a69446e7bc4112c154cacac75414b22.bindPopup(popup_866686123c80546503f565f6c8a155dd)
        ;

        
    
    
            var marker_9022f1806c9777b3979b8efe045eaa61 = L.marker(
                [39.739236, -104.990251],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_bef87a4f3b793c2f3fa84e8615c4a3cd = L.popup({"maxWidth": 300});

        
            
                var html_fa8b8f5bf56be3da0fb072da749c2176 = $(`<div id="html_fa8b8f5bf56be3da0fb072da749c2176" style="width: 100.0%; height: 100.0%;">2013 - Denver, CO - Stuart King</div>`)[0];
                popup_bef87a4f3b793c2f3fa84e8615c4a3cd.setContent(html_fa8b8f5bf56be3da0fb072da749c2176);
            
        

        marker_9022f1806c9777b3979b8efe045eaa61.bindPopup(popup_bef87a4f3b793c2f3fa84e8615c4a3cd)
        ;

        
    
    
            var marker_6028552bfd758b65e024cf274f848234 = L.marker(
                [47.677683, -116.780466],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_6a987b02f846c4cc53c9798fe31097c1 = L.popup({"maxWidth": 300});

        
            
                var html_2d90f1332a90bb919d6243fa6d081cfa = $(`<div id="html_2d90f1332a90bb919d6243fa6d081cfa" style="width: 100.0%; height: 100.0%;">2012 - Coeur d'Alene, ID - Jerry King</div>`)[0];
                popup_6a987b02f846c4cc53c9798fe31097c1.setContent(html_2d90f1332a90bb919d6243fa6d081cfa);
            
        

        marker_6028552bfd758b65e024cf274f848234.bindPopup(popup_6a987b02f846c4cc53c9798fe31097c1)
        ;

        
    
    
            var marker_0b9dd8b8fe28ab969f2614a6bf63799f = L.marker(
                [37.096528, -113.568416],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_fca0e9659a740a41910bb89a535f3aae = L.popup({"maxWidth": 300});

        
            
                var html_51a760fd7851a7dc7cba2c0cac98040e = $(`<div id="html_51a760fd7851a7dc7cba2c0cac98040e" style="width: 100.0%; height: 100.0%;">2011 - St. George, UT - Reggie Sherrill</div>`)[0];
                popup_fca0e9659a740a41910bb89a535f3aae.setContent(html_51a760fd7851a7dc7cba2c0cac98040e);
            
        

        marker_0b9dd8b8fe28ab969f2614a6bf63799f.bindPopup(popup_fca0e9659a740a41910bb89a535f3aae)
        ;

        
    
    
            var marker_6a82095f3c75e3e3e78a48d4862825c2 = L.marker(
                [38.291859, -122.458036],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_2af76c88e5032f57ddb3d3508f83d231 = L.popup({"maxWidth": 300});

        
            
                var html_b8759c413bbab9086328234d2d943a55 = $(`<div id="html_b8759c413bbab9086328234d2d943a55" style="width: 100.0%; height: 100.0%;">2010 - Northern California - Alex King</div>`)[0];
                popup_2af76c88e5032f57ddb3d3508f83d231.setContent(html_b8759c413bbab9086328234d2d943a55);
            
        

        marker_6a82095f3c75e3e3e78a48d4862825c2.bindPopup(popup_2af76c88e5032f57ddb3d3508f83d231)
        ;

        
    
    
            var marker_02bc34b71061ee24bb91dd7e4612f65b = L.marker(
                [39.237685, -120.02658],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_dfca709b41a321c00d69c9b8efea6e74 = L.popup({"maxWidth": 300});

        
            
                var html_168387232c3fbf0782c3c7a3fa840f12 = $(`<div id="html_168387232c3fbf0782c3c7a3fa840f12" style="width: 100.0%; height: 100.0%;">2009 - Lake Tahoe, CA - Alex King</div>`)[0];
                popup_dfca709b41a321c00d69c9b8efea6e74.setContent(html_168387232c3fbf0782c3c7a3fa840f12);
            
        

        marker_02bc34b71061ee24bb91dd7e4612f65b.bindPopup(popup_dfca709b41a321c00d69c9b8efea6e74)
        ;

        
    
    
            var marker_bdbbb137a78827b2e10376b9c6c75512 = L.marker(
                [47.606209, -122.332071],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_790ad40008593fce8a784a15499f08b1 = L.popup({"maxWidth": 300});

        
            
                var html_6f37811aca7420970efa5a76c71d586c = $(`<div id="html_6f37811aca7420970efa5a76c71d586c" style="width: 100.0%; height: 100.0%;">2008 - Seattle, WA - Alex King</div>`)[0];
                popup_790ad40008593fce8a784a15499f08b1.setContent(html_6f37811aca7420970efa5a76c71d586c);
            
        

        marker_bdbbb137a78827b2e10376b9c6c75512.bindPopup(popup_790ad40008593fce8a784a15499f08b1)
        ;

        
    
    
            var marker_4ccbbe73ce5f8352cf31d4aa8ba75f0c = L.marker(
                [35.960638, -83.920739],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_cfde236ba3b1559e8e17ceb15cc1eb0d = L.popup({"maxWidth": 300});

        
            
                var html_52a8144cd756a928f5798cd928478d4d = $(`<div id="html_52a8144cd756a928f5798cd928478d4d" style="width: 100.0%; height: 100.0%;">2007 - Knoxville, TN - Stuart King</div>`)[0];
                popup_cfde236ba3b1559e8e17ceb15cc1eb0d.setContent(html_52a8144cd756a928f5798cd928478d4d);
            
        

        marker_4ccbbe73ce5f8352cf31d4aa8ba75f0c.bindPopup(popup_cfde236ba3b1559e8e17ceb15cc1eb0d)
        ;

        
    
    
            var marker_dc584f117f4f89a03152f51155467680 = L.marker(
                [33.520661, -86.80249],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_be0eb52f4284ee7074278006719e188a = L.popup({"maxWidth": 300});

        
            
                var html_25280b681fd9b2e152aeae6f84b9eb7e = $(`<div id="html_25280b681fd9b2e152aeae6f84b9eb7e" style="width: 100.0%; height: 100.0%;">2006 - RTJ, Alabama - Gary Olson</div>`)[0];
                popup_be0eb52f4284ee7074278006719e188a.setContent(html_25280b681fd9b2e152aeae6f84b9eb7e);
            
        

        marker_dc584f117f4f89a03152f51155467680.bindPopup(popup_be0eb52f4284ee7074278006719e188a)
        ;

        
    
    
            var marker_7bd2f32f5264e1ae3cc5a75f6f389e57 = L.marker(
                [32.366805, -86.299969],
                {}
            ).addTo(map_6486274de38597f5d889b13e88f08a4b);
        
    
        var popup_00f8ea584c5144bbc6df4c827085f362 = L.popup({"maxWidth": 300});

        
            
                var html_1235bc8bad158e084b25b970a26e33e9 = $(`<div id="html_1235bc8bad158e084b25b970a26e33e9" style="width: 100.0%; height: 100.0%;">2005 - RTJ, Alabama - Stuart King</div>`)[0];
                popup_00f8ea584c5144bbc6df4c827085f362.setContent(html_1235bc8bad158e084b25b970a26e33e9);
            
        

        marker_7bd2f32f5264e1ae3cc5a75f6f389e57.bindPopup(popup_00f8ea584c5144bbc6df4c827085f362)
        ;

        
    
</script>
</html>